@import "~bootstrap/scss/bootstrap";

footer{
    position:fixed;
    text-align:center;
    background-color:green;
    bottom:0px;
    z-index:1;
    width:100%
}

.post{
    margin: 3%;
    padding : 3%;
    background-color: grey;
    color: black;
}

header{
    background-color:yellow;
    text-align: center;
}
