{% extends "Admin/base.admin.html.twig" %}

{% block content %}
	<h1>{{category.name}}</h1>
	<a href="{{path('admin_delete_category', { 'id': category.id })}}">
		<h2>delete</h2>
	</a>
	{{form(form)}}{% endblock %}
