{% extends "base.html.twig" %}
{% block header %}
    <header style="
    background-color:yellow;
    ">
    oui le header
    </header>
{% endblock %}
{% block nav %}
<nav>
    <ul>
        <li>Article 1</li>
        <li>Article 2</li>
        <li>Article 3</li>
    </ul>
</nav>
{% endblock %}
{% block content %}
    <h1>Contenu</h1>
{% endblock %}