{% extends "User/articleBase.html.twig" %}

{% block header %}
    <header style="
    background-color:yellow;
    ">
    oui le header
    </header>
{% endblock %}

{% block content %}
    <h1>{{id}}</h1>
    
{% endblock %}