{% extends "base.html.twig" %}
{% block header %}
	<header>
		oui le header
		<a href="{{path('category')}}">Liste des catégories</a>
	</header>
{% endblock %}
{% block nav %}
	<nav>
		<ul
			class="listPost">
			{#TO-DO : create a query to generate the list items from Article table#}
			{% for value in listPost %}
				<li>
					<a href="{{path('user_post_show', { 'id': value.id })}}">

						{{value.title}}</a>
				</li>
			</br>
		{% endfor %}
	</ul>

</nav>{% endblock %}
