{% extends "User/base.user.html.twig" %}
{% block content %}

	<h2>List of category</h2>

	<ul>

		{% for category in listCategory%}
			<a href="{{path('postByCategory', { 'categoryId': category.id })}}">
				<li>{{category.name}}</li>
			</a>

		{% endfor %}
	</ul>
{% endblock %}
