{% extends "User/postBase.html.twig" %}
{% block content %}
<h1>liste des sujets</h1>
    <ul>
        {#TO-DO : create a query to generate the list items from Category table#}
        <li>Category 1</li>
        <li>Category 2</li>
    </ul>
{% endblock %}
