{% extends "/User/base.user.html.twig"%}

{% block content %}
	<h1>{{category.name}}</h1>
	<h2>Add a post</h2>
	{{ form(form)}}
		<h2>List of post</h2>
		<ul>
			{% for post in listPost%}
				<a href="{{path('user_post_show', { 'id': post.id })}}">
					<li>{{post.title}}</li>
				</a>
			{% endfor %}
		</ul>
	{% endblock %}
