{% extends "/User/base.user.html.twig"%}

{% block content %}
	<h1>liste des posts pour cette catégorie</h1>
	<ul>
		{% for post in listPost%}
			<li>{{post.title}}</li>
		{% endfor %}
	</ul>
{% endblock %}
