{% extends "base.html.twig" %}
{% block header %}
    <header style="
    background-color:yellow;
    ">
    oui le header
    </header>
{% endblock %}
{% block nav %}
<nav >
    <ul>
        {#TO-DO : create a query to generate the list items from Article table#}
        <li><a href="{{path('post', { 'id': "1" })}}">Post 1</a></li>
        <li>Post 2</li>
        <li>Post 3</li>
    </ul>
</nav>
{% endblock %}
